/*
 * powerhouse.css
 *
 * HeroCreator Stylesheet
 *
 * Original Author: Kyle W T Sherman
 * http://nullware.com
 * 
 * Current Author & Maintainer:  Aesica
 * http://aesica.net/co
 */


html {
    margin: 0;
    overflow-y: scroll;    /* force scroll bar to appear to prevent jumping */
    padding: 0;
	background-color: #fac;                /* dark gray */
}

body {
	color: #80a;                          /* purple */
    font-family: Lexia, Verdana, Arial, sans-serif;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    /*max-width: 1280px;*/
    min-height: 100%;
	padding: 0 2rem;
}

.title {
    margin-top: 0.5rem;
}

.mediaButton {
	height: 35px;
	float: right;
}

#titleMessage {
	font-size: 85%;
	margin-bottom: 0.3rem;
	font-family: monospace;
}

.titleMessageReady {
	color: #44ff44;
}

.titleMessageWorking {
	color: #ff4444;
}

table.settingsTable tr {
	border-bottom: 1px solid #888;
}
table.settingsTable tr:last-child {
	border: none;
}

table.settingsTable tr td {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}

table.settingsTable {
	width: 100%;
}

.menu {
	background-color: #222;
	background-image: linear-gradient(#caf, #a8d);
    border: 1px solid #444;
    border-radius: 10px;
	box-shadow: 3px 3px 4px #000;
    margin-bottom: 1.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
	padding-left: 3rem;
}

a, a:link, a:visited {
	color: #84c;							/* light blue */
    /* color: #CE6C10;                    */ /* dark orange */
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:active {
	color: #fff;						/* white */
    /* color: #F78132;                     */ /* light orange */
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.shadow {
    box-shadow: 3px 3px 4px #000;
}

.popup {
	background-color: #a8d;					/* black */
    /* background-color: #FEF5C0;         */ /* light yellow */
	color: #80a;							/* light gray* /
    /* color: #000000;                    */ /* black */
    border: 1px solid #000000;
    /* font-family: Verdana, Arial, sans-serif; */
    font-size: 0.8rem;
    margin: 1em 0 0 0;
    max-width: 480px;
	padding: 5px;
    /* padding: 0.2em; */
    position: absolute;
	border-radius: 10px;
	border-width: 1px;
	border-color: #888;
	box-shadow: 3px 3px 4px #000;
    /* -moz-box-shadow: 3px 3px 4px #000; */
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    z-index: 10;
}

.popupRight {
	float: right;
	text-align: right;
}

.left {
    float: left;
    min-width: 49%;
    padding: 0;
    text-align: left;
    width: 49%;
}

.right {
    float: right;
    min-width: 49%;
    padding: 0;
    text-align: left;
    width: 49%;
}

.footer {
    margin: 0;
    padding: 1rem 0 0 0;
    text-align: left;
    width: 98%;
}

.section {
    margin: 1rem 0 0 0;
    padding: 0.2rem;
}

.note {
	min-width: 1rem;
}

.radioButton, .checkBox {
	display: block;
}

.radioButtonInput, .checkBoxInput {
	display: none;
}

.checkBox, .radioButton {
	display: inline-block;
	margin-right: 1rem;
	position: relative;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}


.checkBoxBox, .radioButtonBox {
	visibility: hidden;
}

.checkBox input:checked + span {
	color: #0f0;
	visibility: visible;
}

.radioButton input:checked + span {
	color: #0ff;
	visibility: visible;
}

.checkBox {
	display: block;
}

.disabledCheckBox {
	display: none;
}

.spacedTable tr td {
    padding-bottom: 1rem;
}

.spacedTable tr:last-child td {
    padding-bottom: 0px;
}

.selectConfirmButton {
	float: right;
	margin-bottom: 0.3rem;
}

.selectConfirmContent {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-right: 1rem;
	font-size: 85%;
}

.importExport {
	width: 500px;
	height: 300px;
	margin-right: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

table {
	border-collapse: collapse;
}

#versionTable tr td {
	font-size: 75%;
	padding-right: 1rem;
}

#saveDataTable tr:nth-child(even){
	background-color: #fac;
}

#saveDataTable tr:nth-child(odd){
	background-color: #fce;
}

#saveDataTable tr:last-child  td {
	background-color: #fac;
	padding-top: 1rem;
	font-weight: bold;
}

#saveDataTable tr:first-child  td {
	background-color: #fac;
	padding-bottom: 1rem;
	font-weight: bold;
}

#saveDataTable {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

#saveDataTable tr:hover {
	background-color: #fff;
}

#saveDataNew {
	margin-top: 1rem;
}

.saveDeleteButton {
	color: #f00;
	text-shadow: 1px 1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000;
	margin-left: 1rem;
}

.saveReplaceButton {
	color: #0f0;
	text-shadow: 1px 1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000;
	margin-left: 1rem;
}

.saveLoadButton {
	margin-left: 1rem;
	display: inline-block;
	width: 80%;
}

.saveReplaceTable {
	border-collapse: collapse;
}

.saveReplaceTable td {
	vertical-align: top;
	background-color: #caf;
	padding: 0.2rem;
}

.saveReplaceTable tr:first-child {
	border-bottom: 1px solid #aaa;
}

.saveReplaceTable tr td:last-child {
	background-color: #a8d;
	color: #806;
}

input {
	font-family: inherit;
}

input, textarea {
	background-color: #caf;
	border-radius: 10px;
	color: #80a;
	border: 1px solid #888;
	padding-left: 5px;
	padding-right: 5px;
}

textarea {
	width: 98%;
	height: 40rem;
}

#buildNoteEditor {
	font-size: 85%;
	font-family: inherit;
	width: 20rem;
	height: 6rem;
}

#buildNoteButton {
	width: 20rem;
	display: block;
}

#buildNoteHelp {
	width: 20rem;
}

.dataButton {
	margin-right: 1rem;
	margin-left: 1rem;
}

.pageSection {
	background-color: #caf;          /* dark gray, slightly brighter than background */
    border: 1px solid #888;
    margin: 1rem 0 0 0;
	padding: 0.3rem;
	border-radius: 10px;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
	max-width: 50rem;
	margin-left: 2rem;
	margin-right: 2rem;
}


.selection {
	background-color: #caf;          /* dark gray, slightly brighter than background */
    /* background-color: #0D3E7F;        */  /* dark blue */
    border: 1px solid #000000;
    margin: 1rem 0 0 0;
	padding: 1px;
    /* padding: 0.2em; */
    position: absolute;
    /* width: -moz-max-content; */
	border-radius: 10px;
	border-width: 1px;
	border-color: #888;
    /* -moz-box-shadow: 3px 3px 4px #000; */
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    z-index: 1;
}

#selectionWindowHeaderStrip {
    padding: 0.1rem;
    border-radius: 10px 10px 0px 0px;
	background-color: #caf;
}

#selectionWindowHeader {
    color: #80a;
    margin-left: 0.3rem;
    margin-right: 1.5rem;
}

#selectionWindowMenu {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
    background-color: #a8d;
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
}

#selectionWindowContainer {
	padding: 5px;
}

.closeButton {
	color: #806;
	float: right;
	margin-top: -0.1rem;
    margin-right: 0.2rem;
}

.frameworkSelectionGroup {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
}

.frameworkSelected{
    display: inline-block;
    padding: 0px;
    border: 1px solid #aaa;
    background-color: #666;
    border-radius: 5px;
}

.frameworkUnselected {
    display: inline-block;
    padding: 1px;
    filter: brightness(0.8) grayscale(0.5);
}

.selectionNormal {
	border: 2px solid #222;                 /* dark gray (background color) */
    /* border: 2px solid #0D3E7F;         */ /* dark blue (background color) */
}

.selectionHighlighted {
	border: 2px solid #8f8;					/* light gray */
    /* border: 2px solid #CE6C10;           /\* dark orange */
}

.leftSelection {
    float: left;
    padding: 0 1rem 0 0;
    text-align: left;
}

.rightSelection {
    float: right;
    padding: 0 0 0 1rem;
    text-align: left;
}

/* .leftSelection { */
/*     border: 1px solid #000000; */
/*     float: right; */
/*     margin: 1em 0 0 0; */
/*     padding: 0.2em; */
/*     position: absolute; */
/*     width: -moz-max-content; */
/*     -moz-box-shadow: 3px 3px 4px #000; */
/*     -webkit-box-shadow: 3px 3px 4px #000; */
/*     box-shadow: 3px 3px 4px #000; */
/* } */

/* .rightSelection { */
/*     border: 1px solid #000000; */
/*     float: left; */
/*     margin: 1em 0 0 0; */
/*     padding: 0.2em; */
/*     position: absolute; */
/*     width: -moz-max-content; */
/*     -moz-box-shadow: 3px 3px 4px #000; */
/*     -webkit-box-shadow: 3px 3px 4px #000; */
/*     box-shadow: 3px 3px 4px #000; */
/* } */

.edit img {
    border: 0;
    height: auto;
    padding: 1px;
    vertical-align: middle;
    width: 24px;
}

canvas.icon {
	vertical-align: middle;
	padding: 1px;
	padding-right: 0.25rem;
}

.prefs img {
    border: 0;
    height: auto;
    padding: 1px;
    vertical-align: middle;
    width: 24px;
}

.button {
    /* color: #CE6C10;                    */ /* dark orange */
    font-weight: bold;
    text-decoration: none;
}

.rarityCommon {
	color: #ddf;
}

.rarityUncommon {
	color: #2c2;
}

.rarityRare {
	color: #44f;
}

.rarityEpic {
	color: #a4f;
}

.rarityLegendary {
	color :#fa4;
}

.selectedButton, a.selectedButton, a.selectedButton:link,
a.selectedButton:visited, a.selectedButton:hover, a.selectedButton:active {
	color: #8f8;
    /* color: #F78132;                    */ /* light orange */
    font-weight: bold;
    text-decoration: none;
}

.takenButton {
	color: #46b;						/* darker blue */
    /* color: #AE4C00;                  */ /* darker orange */
    /* color: #6CCE10;                   /\* dark green *\/ */
    font-weight: bold;
    text-decoration: none;
}
/* .selectedTakenButton, a.selectedTakenButton, a.selectedTakenButton:link, */
/* a.selectedTakenButton:visited, a.selectedTakenButton:hover, a.selectedTakenButton:active { */
/*     color: #81F732; /\* light green *\/ */
/*     cursor: pointer; */
/*     font-weight: bold; */
/*     text-decoration: none; */
/* } */

.disabledButton, a.disabledButton, a.disabledButton:link,
a.disabledButton:visited, a.disabledButton:hover, a.disabledButton:active,
.disabledButton div, a.disabledButton div, a.disabledButton:link div,
a.disabledButton:visited div, a.disabledButton:hover div, a.disabledButton:active div {
	/* color: #777; */							/* dark gray */
    /* color: #5C5C5C;                     /\* dark gray */
    /* color: #CE3C3C;                     /\* dark red *\/ */
    font-weight: bold;
    text-decoration: none;
	filter: brightness(70%) grayscale(100%);
}

.lockedButton, a.lockedButton, a.lockedButton:link,
a.lockedButton:visited, a.lockedButton:hover, a.lockedButton:active,
.lockedButton div, a.lockedButton div, a.lockedButton:link div,
a.lockedButton:visited div, a.lockedButton:hover div, a.lockedButton:active div {
	/* color: #46b; */							/* dark blue */
    /* color: #AE4C00;                     /\* darker orange */
    /* color: #FEC530;                     /\* yellow *\/ */
    font-weight: bold;
    text-decoration: none;
	filter: brightness(0.8) contrast(1.3);
}

.buttonNote {
	color: #88b;                           /* bluish gray */
    /*color: #FEC530;                     /\* yellow */
    font-size: smaller;
}
a.buttonNote, a.buttonNote:link, a.buttonNote:visited {
	color: #88b;                          /* bluish gray */
    /* color: #FEC530;                     /\* yellow */
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
}
a.buttonNote:hover, a.buttonNote:active {
	color: #fff;                           /* white */
	/* color: #FEF550;                     /\* light yellow */
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
}
.selectedButtonNote, a.selectedButtonNote, a.selectedButtonNote:link,
a.selectedButtonNote:visited, a.selectedButtonNote:hover, a.selectedButtonNote:active {
	color: #afa;
    /* color: #FEF550;                     /\* light yellow */
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
}

.buttonText {
	color: #88b;                        /* bluish gray */
    /* color: #FEC530;                     /\* yellow */
}
.disabledButtonText {
	color: #777;						/* dark gray */
    /* color: #5C5C5C;                     /\* dark gray */
}
a.buttonText, a.buttonText:link, a.buttonText:visited {
    color: #FEC530;                     /* yellow */
    font-weight: bold;
    text-decoration: none;
}
a.buttonText:hover, a.buttonText:active {
    color: #FEF550;                     /* light yellow */
    font-weight: bold;
    text-decoration: none;
}
.selectedButtonText, a.selectedButtonText, a.selectedButtonText:link,
a.selectedButtonText:visited, a.selectedButtonText:hover, a.selectedButtonText:active {
    color: #FEF550;                     /* light yellow */
    font-weight: bold;
    text-decoration: none;
}
a.disabledButtonText, a.disabledButtonText:link,
a.disabledButtonText:visited, a.disabledButtonText:hover, a.disabledButtonText:active {
    color: #5C5C5C;                     /* dark gray */
    font-weight: bold;
    text-decoration: none;
}

.note {
	color: #ccc;							/* light gray */
    /* color: #FEC530;                     /\* yellow */
    font-size: smaller;
    font-weight: normal;
}
.disabledNote {
    color: #5C5C5C;                     /* dark gray */
    font-size: smaller;
    font-weight: normal;
}

.spec {
	color: #bbb;						/* purple */
    /* color: #FEC530;                     /\* yellow */
    font-size: x-small;
    font-weight: normal;
}
.disabledSpec {
    color: #5C5C5C;                     /* dark gray */
    font-size: x-small;
    font-weight: normal;
}

.selectSpec {
	color: #999;                          /* gray */
    /*color: #FEC530;                     /\* yellow */
    font-size: small;
    font-weight: normal;
}

.specHighlight {
	color: #fff;                          /* white! mother of god, as bright as possible!) */
    /*color: #FEF550;                     /\* light yellow */
    font-weight: bold;
}

.advantage {
    font-size: smaller;
}

#advantageTable {
	width: 100%;
}

#advantageTable td:first-child {
	padding-right: 0.5rem;
	width: 0%;
}

#advantageTable td:nth-child(2) {
	width: auto;
}

#advantageTable td:nth-child(3) {
	padding-left: 1.5rem;
	width: 0%;
}

#advantageTable td:nth-child(2) a {
	display: block;
}

.advantageRow td:first-child {
	visibility: hidden;
}

.advantageRowSelected td:first-child {
	color: #4f4;
	visibility: visible;
	width: 0%;
}
/*
.advantageRow td, .advantageRowSelected td {
	border: 1px solid white;
}
*/
.specialization {
	color: #88c;
    width: 100%;
}

.specialization img {
    height: 20px;
    width: auto;
}

.specializationPoints td {
    vertical-align: top;
}

.becomeDeviceTip td {
	vertical-align: top;
}

.becomeDeviceTip td:nth-child(2) {
	color: #4cf;
	font-weight: bold;
}

.becomeDeviceTipStats td {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 3rem;
}

.becomeDeviceTipStats td:nth-child(1) {
	color: #da0;
	font-weight: bold;
	padding-right: 1rem;
}

.becomeDeviceTipStats td:nth-child(2) {
	color: #fff;
	font-weight: normal;
}

.greenText {
	color: #44ff44;
}

.redText {
	color: #ff4444;
}

.link {
	color: #fac;                           /* purple */
    /* color: #FEC530;                     /\* yellow */
    /* font-size: small; */
}

.linkRef {
	color: #fac;                           /* purple */
    /* color: #FEC530;                     /\* yellow */
    font-size: xx-small;
}

.preview {
    font-family: sans-serif;
    font-size: 1rem;
}

.invisible a {
    color: #0D3E5F;                     /* dark blue */
    font-size: small;
}

.forumHeader {
	/* color: #F78112;                     /\* lighter dark orange */
	font-weight: bold;
	text-decoration: underline;
}

.forumLink {
	/*color: #8DCDFF;                     /\* light blue */
	color: #8dcdff;
	font-weight: bold;
	border-bottom: 1px solid #8dcdff;
}

.forumFirst {
	/* color: #F78112;                     /\* lighter dark orange */
	text-decoration: none;
}

.forumSecond {
	/* color: #FEC530;                     /\* yellow */
	font-weight: bold;
}

.forumThird {
	/* color: #88b; */
    /* color: #CE6C10;                     /\* dark orange */
	font-size: 0.75rem;
	font-style: italic;
}

.deviceName {
	font-weight: bold;
	color: #ff8800;
}
.deviceStats {
	color: #2f2;
}
.btcop {
	color: #f22;
}
.btcoe {
	color: #22f;
}
.btaop {
	color: #f82;
}
.btaoe {
	color: #2f2;
}

/*
 * Print
 */

.alertMessage {
	color: #fff;
	background-color: #f00;
	padding: 0.25rem;
	margin-top: 0.35rem;
	margin-bottom: 0.35rem;
}

 .alertMessage a {
	color: #fff;
	font-weight: normal;
	text-decoration: underline;
}

.hidden {
	display: none;
}

@media print {
    .title, .menu, .link, .invisible {
        display: none;
    }
    html {
        font-family: Calibri, Tahoma, Verdana, Arial, sans-serif;
        font-size: 0.8rem;
    }
    body {
        background-color: #FFFFFF;      /* white */
        color: #000000;                 /* black */
    }
    a, a:link, a:visited, .button, a.button, .buttonNote, a.buttonNote, .buttonText, a.buttonText, .note, .spec, .advantage, .linkRef {
        color: #000000;                 /* black */
        font-weight: normal;
    }
    .spec {
        font-size: smaller;
    }
    .preview {
        font-family: Calibri, Tahoma, Verdana, Arial, sans-serif;
        font-size: 0.8rem;
    }
}

/*
 * Mobile Devices
 */

@media handheld, only screen and (max-width: 800px) {
    .left, .right, .leftSelection, .rightSelection {
        float: none;
        padding: 0;
    }
}

/*
 * powerhouse.css ends here
 */
